@import ../../assets/styles/_constants.sass

.HeaderActions
    display: flex
    align-items: center
    margin-bottom: 1rem

    .Title
        font-size: 2em
        font-weight: bold
        margin-right: 2rem

    button
        background: $primary
        color: white
        font-size: 1rem
        font-weight: bold
        border: 1px solid $primary
        max-height: 40px
        margin-left: 1rem

        &:hover
            background: white
            color: $primary
