@import ../../../assets/styles/_constants

.FormContainer
    width: 100%
    margin: 0 auto
    color: #333
    max-width: 44rem

    h2
        text-align: center
        margin-bottom: 20px

    .FormGroup
        margin-bottom: 20px
        display: flex
        place-content: center
        place-items: center
        width: 100%

        svg
            margin-right: 1rem
            path
                fill: $primary

    label
        display: block
        margin-bottom: 5px
        font-weight: bold

    .FormButton
        background-color: #007bff
        color: #fff
        cursor: pointer

        &:hover
            background-color: #0069d9

        &[type="submit"]
            padding: 1rem 2rem
            border-radius: 3px
            border: 0
            font-size: 1rem
            text-transform: uppercase
            font-weight: normal
            width: 100%
            margin: 1rem 0

    .FormMessage
        padding: 10px
        margin-bottom: 20px
        border-radius: 3px

    &.form-success
        background-color: #d4edda
        color: #155724

    &.form-error
        background-color: #f8d7da
        color: #721c24
