@import ../../assets/styles/_constants

.Button
    font-size: 1rem!important
    padding: .2rem 1rem!important
    font-weight: bold!important
    background-color: $primary!important
    color: $white!important
    border: 1px solid $primary!important
    &:hover
        background-color: $white!important
        color: $primary!important
        border: 1px solid $primary!important
    &.secondary
        background-color: $white!important
        color: $primary!important
        border: 1px solid $white!important
        &:hover
            background-color: $primary!important
            color: $white!important
