@import ../../assets/styles/_constants.sass

.PaperCard
    flex-grow: 1
    border-radius: 10px
    padding: 2rem
    border: 1px solid $border-grey

    &.Clickable
        cursor: pointer
        transition: all .2s ease
        &:hover
            box-shadow: $box-hover

    .Title
        margin-bottom: .5rem
        font-weight: bold
        font-size: 2rem
    .Subtitle
        color: $grey-03
        font-weight: 400
        font-size: 1.2rem
