@import '../../assets/styles/_constants'

@media screen and (max-width: 768px)
    .AppointmentsView
        height: 100%
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 0fr 7fr minmax(20px, 40px)

.AppointmentsView
    height: 100%

    .FullCalendarView
        margin-bottom: 2rem

    .EventCell
        padding: .5rem
        color: white
        font-size: 1.2rem
        margin: .2rem
        display: flex
        border: 0
        cursor: pointer

    .SlotLabelDay
        font-size: 1.2rem
        font-weight: 500

    .SlotServiceItem
        font-size: .8rem
