@import ../../assets/styles/_constants

.SideMenuWrapper
    background: $bg-primary

    .Logo
        padding: 1.5rem

    .NavMenuWrapper
        padding: 1rem 0

        .NavMenuButton
            display: flex
            width: 100%
            justify-content: flex-start
            transition: none
            padding: 1rem
            color: $white

            &:hover
                background: $bg-primary-hover

                .NavMenuText, svg
                    color: $white
                    background: $bg-primary-hover

            .NavMenuText
                font-size: 1rem
                color: $white

            svg
                margin-right: 1rem

.MobileMenuWrapper

    & .Logo
        padding: 1.5rem

    .NavMenuWrapper
        padding: 1.5rem

        .NavMenuButtonWrapper
            width: 100%
            display: flex
            justify-content: center

            .NavMenuButton
                display: flex
                width: 100%
                justify-content: flex-start
                transition: none
                min-width: 40px

                &:hover
                    background: $primary
                    border: 1px solid $primary

                    .NavMenuText, svg
                        color: $white
                        background: $primary
                        border: 0

                .NavMenuText
                    font-weight: bold
                    font-size: 1rem

                svg
                    margin-right: 1rem
