@import '../../assets/styles/_constants'

.Table
    width: 100%

    & .TableHeadCell
        font-size: 1.2rem
        font-weight: light
        padding: 10px
        color: $grey-03

    & .TableBodyCell
        padding: 10px
        font-size: 1.2rem

    & .RowActionButton
        cursor: pointer

    & .FooterPagination

    & .ActionsComponent
        display: flex

@media screen and (max-width: 768px)
    .TableHeadCell
        font-size: 1rem!important
        padding: .5rem!important
