@import ../../../assets/styles/_constants

.AppBarWrapper
    background-color: $bg-secondary!important
    .HeaderDesktop
        display: flex
        align-items: center
        justify-content: flex-end
        font-size: 1.2rem
        padding: 1.5rem 3rem
        svg
            fill: white
